* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.display_bora {
  font-family: "Oxygen Mono", monospace;
  text-align: center;
  padding: 2rem;
}

.display_2_description {
  font-family: "Oxygen Mono", monospace;
}

.heading_bora {
  padding: 1rem;
  font-family: "Oxygen Mono", monospace;
}
