* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.map_location {
  width: 100%;
}

.form_inicial {
  font-family: "Oxygen Mono", monospace;
  padding: 2rem;
  width: 100%;
  text-align: center;
}

.form_text {
  font-family: $font-primary;
}

.general_form {
  width: 100%;
}

.button {
  color: white;
  padding: 1rem;
  background-color: black;

  &:hover {
    color: $primary-color;
  }
}

.button_2 {
  color: black;
  padding: 1rem;
  background-color: white;

  &:hover {
    color: $primary-color;
  }
}
