* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: inline-block;
  list-style: none;
  font-family: $font-primary;

  ul {
    margin-left: 1, 5rem;

    li {
      list-style: none;
      display: flex;

      a {
        text-decoration: none;
        display: inline-block;
        margin-left: 3rem;
        text-transform: uppercase;
        color: $secondary-color;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

header {
  background-color: whitesmoke;
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 2;
}
